{:base-url "https://eccentric-j.com/"
 :site-title "Eccentric J"
 :description "Eccentric J's blog on Functional Programming, Clojure, and Engineering"
 :authors [{:name "Eccentric J"
            :email "jayzawrotny@gmail.com"
            :github "eccentric-j"
            :bio "Creator of this site. Professional designer, software engineer, and weirdo. Started programming back at the age of 10; hasn’t stopped since."
            :url "https://eccentric-j.com"
            :twitter "eccentric_jay"
            :instagram "eccentric_jay"}]}
