@import "_shared";

// Layout
// ---------------------------------------------------------------------------

.content {
  position: relative;
  margin: rems(32px);
  z-index: 6;
}
.hero {
  height: rems(416px);
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}
.layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-left: rems(32px);
  margin-right: rems(360px);
}
.main {
  position: relative;
  flex: 0 1 auto;
  width: 100%;
  max-width: rems(784px);
  padding-top: 0;
  z-index: 3;
}
.sidebar {
  left: rems(32px);
  bottom: 0;
  right: rems(32px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  @media (max-height: #{rems(739px)}) {
    position: absolute;
    top: 0;
    padding-top: rems(190px);
  }
  @media (min-height: #{rems(740px)}) {
    position: fixed;
    top: rems(10px);
    padding-top: rems(180px);
  }
}
.sidebar__margin {
  width: 100%;
  max-width: rems(784px);
  flex: 0 1 auto;
}
.sidebar__inner {
  width: rems(320px);
  flex: 0 0 auto;
}

// Blocks
// ---------------------------------------------------------------------------

.author__profile {
  flex-wrap: nowrap;
}

.navbar {
  margin-bottom: rems(16px);
  padding: 0;
  border-top: 1px solid $slate;
  border-bottom: 2px solid $slate;
  z-index: 3;
}

.navbar a,
.media-links a {
  text-decoration: none;
  color: $gray-teal;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar__item {
  @extend %mono;
  position: relative;
  padding: rems(8px);
  opacity: 0.75;
  color: $gray-teal;
  font-size: rems(18px);
  font-weight: 600;
  letter-spacing: rems(2px);
  transition: all 250ms ease-in-out;
}
.navbar__item::before {
  @extend %icon;
  position: absolute;
  top: rems(20px);
  left: rems(8px);
  font-size: #{rems(30px)};
  line-height: 1;
  opacity: 0;
  transform: translateX(#{rems(-20px)});
  transition: all 250ms ease-in-out;
  content: '\f105';
}
// .navbar__active::before {
//   color: $teal;
// }
.navbar__item:hover {
  opacity: 1.0;
  padding-left: rems(32px);
}
.navbar__item:hover::before {
  opacity: 1;
  transform: translateX(0);
}
.navbar__active, .navbar__active a {
  color: $teal;
}
.navbar__item:active {
  background: $gray-teal;
  &, a {
    color: $gray;
  }
}
.navbar__item a {
  display: block;
  padding: rems(4px);
  transition: all 250ms ease-in-out;
}
.navbar__item:not(:last-child) {
  border-bottom: 1px solid $light-slate;
}
.navbar__label {
  @extend %copy;
  display: block;
  font-size: rems(15px);
}

.page__title {
  position: absolute;
  bottom: 0;
  margin-bottom: rems(16px);
  font-size: rems(50px);
}
.page__title::before,
.page__title::after {
  font-size: rems(50px);
}
.page__path:not(:last-child)::after {
  font-size: rems(50px);
}

.post__permalink {
  position: absolute;
  top: rems(21px);
  left: rems(-24px);
  bottom: 0;
  margin: auto;
  color: $light-slate;
}

.profile__quote {
  @extend %copy;
  margin-top: rems(32px);
  margin-bottom: rems(32px);
  margin-right: rems(10px);
  margin-left: rems(16px);
  padding-left: rems(32px);
}

.projects__item {
  flex: 0 1 48%;
}


.project__header {
  display: flex;
  flex-flow: row nowrap;
}
.project__img {
  flex: 0 0 48%;
}
.project__info {
  margin-left: rems(16px);
}

.about .selfie {
  float: right;
  width: 18vw;
  max-width: rems(340px);
  margin-left: rems(32px);
}
