@import "_shared";

@keyframes max-width {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}

// BASE
// ---------------------------------------------------------------------------
body {
  @extend %copy;
  color: $slate;
  background: $gray;
}

h1, h2, h3, h4, h5, h6 {
  @extend %mono;
}

a, a:hover {
  color: $teal;
}

p {
  font-size: rems(20px);
  line-height: 2;
}

// Layout
// ---------------------------------------------------------------------------
.content {
  margin: rems(32px) rems(16px);
}
.content img {
  max-width: 100%;
  height: auto;
}
.page {
  border-top: rems(10px) solid $teal;
}
.hero {
  position: absolute;
  top: rems(10px);
  left: 0;
  right: 0;
  height: rems(576px);
  background: $slate url(/img/hero-bg.png) 50% 50% no-repeat;
  background-size: cover;
  z-index: 2;
}
.main {
  position: relative;
  padding-top: rems(480px);
  z-index: 3;
}
.sidebar {
  position: relative;
  z-index: 1;
}

// Blocks
// ---------------------------------------------------------------------------
.author {
  margin-top: rems(64px);
  background: $slate;
  color: #fff;
}
.author__intro {
  margin: 0;
  padding: rems(16px);
  padding-bottom: rems(8px);
  border: 1px solid lighten($slate, 15%);
  background: lighten($slate, 5%);
  font-style: italic;
  color: black(30%);
}
.author__content {
  padding: rems(32px);
}
.author__avatar {
  margin-right: rems(16px);
}
.author__img {
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transition: all 250ms ease-in-out;
}
.author:hover .author__img {
  clip-path: polygon(20% 0%, 0 0, 0 49%, 0 100%, 20% 100%, 51% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 80% 0%, 49% 0);
}
.author__profile {
  display: flex;
  flex-flow: row wrap;
  margin: rems(32px) 0 rems(16px);
}
.author__bio {
  @extend %mono;
  color: black(10%);
  font-size: rems(18px);
  line-height: 1.5;
}
.author__website {
  @extend %mono;
  font-style: italic;
  font-size: rems(16px);
}
.author__links {
  margin: 0;
  margin-top: rems(8px);
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.author__links-item:not(:last-child) {
  margin-right: rems(32px);
}

.bg-teal {
  background: $teal;
  &::after {
    background: $teal;
  }
}
.bg-slate {
  background: $slate;
  &::after {
    background: $slate;
  }
}

.borders {
  width: 100%;
  margin-bottom: rems(16px);
  border-top: 1px solid $slate;
  border-bottom: 2px solid $slate;
  transition: all 250ms ease;
}
.borders.padding {
  padding: rems(16px) 0;
}

// .btn {
//   border: none;
// }
// .btn.btn-primary {
//   padding: rems(8px) rems(32px);
//   background: $teal;
//   border-color: $teal;
//   font-size: rems(18px);
// }
// .btn.btn-primary:not(:disabled):not(.disabled):active {
//   background-color: darken($teal, 10%);
// }
// .btn.btn-primary:focus {
//   box-shadow:  0 0 0 0.2rem rgba($teal, 0.25);
// }
// .btn.btn-primary:not(:disabled):not(.disabled):active:focus {
//   box-shadow:  0 0 0 0.2rem rgba(darken($teal, 10%), 0.25);
// }

.callout {
  @extend %mono;
  position: relative;
  margin: rems(64px) 0;
  padding: rems(32px);
  border-radius: rems(4px);
  background: $slate;
  color: #fff;
  font-size: rems(22px);
  line-height: 2;
}
.callout p:last-child {
  margin: 0;
}
.callout.quote {
  text-indent: rems(48px);
}
.callout.quote::before {
  top: rems(14px);
  left: rems(16px);
  font-size: rems(36px);
  text-indent: 0;
}
.callout .borders {
  border-color: #fff;
}

.drip {
  position: absolute;
  width: rems(12px);
  height: rems(10px);
  transition: height 1500ms ease-in-out;
  z-index: 100;
}
.drip::after {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 100%;
  bottom: rems(-3px);
  content: '';
  border-radius: 50%;
}

.icon::before, .brand::before {
  margin-right: rems(5px);
}
.brand::before {
  @extend %brand;
}
.icon::before {
  @extend %icon;
}

.instagram-media {
  width: 100%;
  height: rems(700px);
}

.interests {
  margin: rems(32px) 0;
  padding: 0;
  padding-top: rems(16px);
  list-style: none;
}

.interest {
  padding-bottom: rems(8px);
}
.interest:not(:last-child) {
  border-bottom: 1px solid black(20%);
}

.interest__toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: none;
}
.interest__media {
  margin: rems(24px) 0;
}
.interest__content {
  overflow: hidden;
}
.interest .interest__book {
  width: auto;
  height: rems(256px);
}
.interest + .interest {
  margin-top: rems(16px);
}

.media-links {
  display: block;
  padding: 0;
  width: 100%;
  list-style: none;
  padding: 0 rems(8px);
}
.media-links__item {
  font-size: rems(10px);
  letter-spacing: rems(0.35px);
  text-transform: uppercase;
  color: $light-slate;
}
.media-links__item .icon,
.media-links__item .brand {
  display: block;
  text-align: center;
  font-size: rems(28px);
  color: $light-slate;
  transition: all 250ms ease-in-out;
}
.media-links__label {
  display: none;
}
.media-links__item:hover .icon,
.media-links__item:hover .brand {
  color: $teal;
}

.navbar {
  position: relative;
  z-index: 6;
}

.navbar__nav {
  width: 100%;
}
.page__header {
  position: relative;
  height: rems(416px);
  margin-bottom: rems(3px);
}

.page__title {
  position: relative;
  padding: rems(16px);
  color: $gray;
  font-size: rems(24px);
}
.page__title::before,
.page__title::after {
  @extend %mono;
  display: inline-block;
  position: relative;
  top: rems(1px);
  color: $light-teal;
  font-size: rems(24px);
  font-style: normal;
  line-height: 1;
}
.page__title::before {
  left: rems(-1px);
  content: '(';
}
.page__title::after {
  content: ')';
  right: rems(-1px);
}
.page__sep {
  position: relative;
  top: rems(0px);
  color: $light-teal;
  margin-left: rems(4px);
  margin-right: rems(4px);
}

.pagination {
  display: block;
  margin: rems(32px);
  text-align: center;
}
.pagination__link {
  display: inline-block;
  margin: rems(16px);
}

.posts {
  padding: 0;
  list-style: none;
}
.posts__item {
  margin-bottom: rems(96px);
}

.post__header {
  position: relative;
  margin-bottom: rems(32px);
}
.post__headline {
  position: relative;
  width: auto;
}
.post__title {
  margin: 0;
  padding: rems(16px) 0;
  font-size: rems(24px);
}
.post__title a {
  color: $slate;
}
.post__title a:hover {
  color: $teal;
}
.post__content {
  color: $slate;
}
.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5 {
  padding: rems(3px);
  margin-bottom: rems(32px);
  &:not(:first-child) {
    margin-top: rems(64px);
  }
}
.post__content h1 {
  font-size: rems(36px);
}
.post__content h2 {
  font-size: rems(30px);
}
.post__content h3 {
  font-size: rems(26px);
}
.post__content h4 {
  font-size: rems(22px);
}
.post__content h5 {
  font-size: rems(20px);
}
.post__attrs {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  font-size: rems(13px);
}
.post__meta {
  color: $gray-teal;
}
.post__meta > span {
  white-space: nowrap;
  margin-right: rems(16px);
}
.post__tags {
  padding: 0;
  margin-top: rems(16px);
}
.post__tag + .post__tag {
  margin-left: rems(16px);
}
.post__summary {
  font-size: rems(20px);
}

.profile {
  position: relative;
  padding: rems(24px);
}
.profile__logo {
  display: block;
  position: absolute;
  top: rems(-140px);
  left: 0;
  right: 0;
  width: rems(140px);
  margin: auto;
  margin-bottom: rems(16px);
  transition: all 250ms ease-in-out;
  filter:  brightness(40%) grayscale(100%);
  z-index: 3;
}
.profile__title {
  @extend %script;
  margin: 0;
  font-size: rems(55px);
  a {
    color: $teal;
    text-decoration: none;
  }
}
.profile__title:hover .profile__logo {
  filter: brightness(100%) grayscale(0%);
  opacity: 1.0;
}

.profile__trades {
  @extend %mono;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  color: $gray-teal;
}
.profile__trade:not(:first-child):before {
  @extend %icon;
  content: "\f067";
  margin-left: rems(10px);
  margin-right: rems(10px);
  font-size: rems(10px);
  line-height: 1;
  color: $light-slate;
}
.profile__quote {
  @extend %copy;
  position: relative;
  padding-left: rems(32px);
  text-align: left;
  color: black(50%);
  font-style: italic;
  font-size: rems(22px);
}
.profile__quote::before,
.callout.quote::before {
  @extend %icon;
  position: absolute;
  padding-right: rems(10px);
  color: $teal;
  z-index: 1;
  opacity: 0.3;
  content: "\f10d";
}
.profile__quote::before {
  left: rems(-3px);
  top: rems(-4px);
  font-size: rems(30px);
}
.profile--bg_dark .profile__trades {
  color: $gray;
}
.profile--bg_dark .profile__quote {
  color: black(20%);
}
.profile--bg_dark .profile__quote::before {
  opacity: 0.5;
  z-index: -1;
}
.profile--bg_dark .profile__logo {
  filter: grayscale(100%);
  opacity: 0.4;
}
.profile--bg_dark .profile__title:hover .profile__logo {
  filter: grayscale(100%);
  opacity: 0.9;
}

.projects__list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-flow: row wrap;
}

.project__title {
  font-size: rems(24px);
}
.project__link {
  color: $slate;
}
.project__link:hover {
  color: $slate;
  text-decoration: none;
}
.project__header {
  margin-bottom: rems(32px);
}
.project__meta {
  display: flex;
  flex-flow: row wrap;
  margin: rems(16px) 0;
  font-size: rems(13px);
}
.project__field {
  white-space: nowrap;
  margin-bottom: rems(8px);
}
.project__field:not(:last-child) {
  margin-right: rems(16px);
}

.project-summary {
  position: relative;
  overflow: hidden;
}
.project-summary__link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: rems(16px);
  color: inherit;
  text-align: left;
  transform: scale(2);
  opacity: 0;
  transition: all 250ms ease-in-out;
  z-index: -1;
}
.project-summary__link:hover {
  text-decoration: none;
  color: inherit;
}
.project-summary__title {
  display: block;
  font-size: rems(24px);
}
.project-summary__meta {
  display: block;
  margin: rems(16px) 0;
}
.project-summary__field {
  font-size: rems(13px);
}
.project-summary__img {
  opacity: 1.0;
  transition: all 250ms ease-in-out;
}
.project-summary:active .project-summary__link,
.project-summary:focus-within .project-summary__link,
.project-summary:focus .project-summary__link,
.project-summary:hover .project-summary__link {
  transform: scale(1.0);
  opacity: 0.8;
  z-index: 3;
}
.project-summary:hover .project-summary__img {
  opacity: 0.4;
}
.project-summary__link:active {
  background: $slate !important;
  color: #fff;
}
.project-summary__link:active .borders {
  border-color: #fff;
}
.project-summary__blurb {
  @extend p;
}

.section {
  margin: rems(64px) 0;
}

.about .selfie {
  display: block;
}

.skills {
  list-style: none;
  margin: rems(32px) 0;
  padding: 0;
}
.skills.within-view .skill__value {
  max-width: 100%;
}

.skill {
  padding: rems(16px) 0;
}
.skill:not(:last-child) {
  border-bottom: 1px solid black(20%);
}

.skill__toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: none;
}
.skill__content {
  overflow: hidden;
}
.skill__progress {
  display: block;
  height: rems(24px);
  margin-top: rems(8px);
  margin-bottom: rems(8px);
  padding: rems(3px);
  border-radius: rems(24px);
  background: $slate;
}
.skill__value {
  @extend %mono;
  display: block;
  position: relative;
  height: rems(18px);
  border: none;
  border-radius: rems(16px);
  background: $teal;
  color: #fff;
  padding-right: rems(10px);
  text-align: right;
  max-width: 0;
  transition: max-width 3000ms ease-out;
}
.skill__label {
  position: absolute;
  top: rems(32px);
  right: rems(-40px);
  width: rems(100px);
  padding: rems(8px);
  border-radius: rems(3px);
  background: rgba(black, 0.5);
  text-align: center;
  font-size: rems(16px);
  opacity: 0;
  transform: translateY(#{rems(24px)});
  transition: all 250ms ease-in-out;
  pointer-events: none;
}
.skill__label::before {
  position: absolute;
  top: rems(-16px);
  left: 0;
  right: 0;
  margin: auto;
  width: 1px;
  height: 1px;
  border: rems(8px) solid transparent;
  border-bottom-color: rgba(black, 0.5);
  content: '';
}
.skill__value:focus {
  outline: none;
}
.skill__value:focus .skill__label,
.skill__value:hover .skill__label {
  transform: translateY(0);
  opacity: 1.0;
}
.skill__keywords {
  list-style: none;
  margin: rems(16px) 0;
  padding: 0;
}
.skill__keyword {
  @extend %mono;
  display: inline-block;
  padding: rems(1px) rems(16px);
  border-radius: rems(24px);
  border: rems(2px) solid $slate;
  color: $slate;
  font-size: rems(15px);
  font-weight: 800;
  letter-spacing: rems(0.4px);
  white-space: nowrap;
}
.skill__keyword:not(:last-child) {
  margin-right: rems(16px);
  margin-bottom: rems(8px);
}

.toggle__icon {
  position: relative;
  display: inline-block;
  width: rems(32px);
  height: rems(32px);
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
.toggle:focus {
  outline: none;
}
.toggle__icon::before,
.toggle__icon::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: rems(24px);
  height: rems(5px);
  margin: auto;
  background: black(60%);
  transition: all 800ms ease-in-out, background 250ms ease-in-out;
  content: '';
}

.toggle:focus .toggle__icon::before,
.toggle:focus .toggle__icon::after,
.toggle:hover .toggle__icon::before,
.toggle:hover .toggle__icon::after {
  background: $teal;
}
.toggle[aria-expanded="false"] .toggle__icon::before {
  transform: rotateZ(90deg);
}
.toggle[aria-expanded="false"] .toggle__icon::after {
  transform: rotateZ(0deg);
}
.toggle[aria-expanded="true"] .toggle__icon::before {
  transform: rotateZ(360deg);
}
.toggle[aria-expanded="true"] .toggle__icon::after {
  transform: rotateZ(360deg);
}
